@import url('https://fonts.googleapis.com/css?family=Merriweather:700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous');

:root {
  --mainBackgroundColor: var(--darkColor);
  --textColor: var(--lightColor);
  --lightColor: #F2F2F2;
  --darkColor: #191F26;
  --baseFont: "Montserrat";
  /* 
  
  F2F2F2
  
  */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Righteous";
  background: var(--mainBackgroundColor);
}

.decleare {

  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Righteous";
  font-size: 3.8vw;
  text-align: center;

  width: 100%;
  color: var(--textColor);

  line-height: .4;
}

.container {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 70%;
  height: 250px;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
}

.container div {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: beige;
  letter-spacing: 2px;
}

a:visited {
  color: null;
}

.registration_button {
  background-color: var(--darkColor);
  border: 2px solid var(--lightColor);
  /* Green */
  color: var(--lightColor);

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 800;

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.registration_button:hover {
  background-color: var(--lightColor);
  color: var(--darkColor);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#particles-js {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #b61924; */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
/* for navigation bar */

ul.navigation {
  list-style-type: none;
  /* position: absolute; */
  width:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

ul.navigation li {
  float: right;
}

ul.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navigation li a:hover {
  background-color: #111;
}
ul.navigation li:nth-of-type(1) a:hover {
  background-color: transparent;
}

/* nav bar end */
