/* Color Theme Swatches in Hex */
.Dolomiti-1-hex { color: #191F26; }
.Dolomiti-2-hex { color: #2C3540; }
.Dolomiti-3-hex { color: #BF8C6F; }
.Dolomiti-4-hex { color: #A67665; }
.Dolomiti-5-hex { color: #73564F; }


/* Color Theme Swatches in Hex */
.Fanal-1-hex { color: #F2F2F2; }
.Fanal-2-hex { color: #BFBFBF; }
.Fanal-3-hex { color: #8C8C8C; }
.Fanal-4-hex { color: #404040; }
.Fanal-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in Hex */
.Where-the-river-splits-towards-the-sea-1-hex { color: #D9D9D9; }
.Where-the-river-splits-towards-the-sea-2-hex { color: #8C8C8C; }
.Where-the-river-splits-towards-the-sea-3-hex { color: #404040; }
.Where-the-river-splits-towards-the-sea-4-hex { color: #262626; }
.Where-the-river-splits-towards-the-sea-5-hex { color: #0D0D0D; }
